#footer {
    position: fixed;
    top: 600px;
    right: 50px;
    height: 50px;
    width: 300px;
    color: darkmagenta;
    font: 16px bold Constantia, serif;
}

#dateBlock {
    position: fixed;
    top: 600px;
    left: 100px;
    height: 50px;
    width: 300px;
    color: darkmagenta;
    font: 20px bold Constantia, serif;
}

#infoBlock {
    background-color: darkmagenta;
    position: fixed;
    left: 25px;
    height: 530px;
    width: 365px;
    color: white;
    font: 20px bold Constantia, serif;
}

td {
    white-space: nowrap;
}

.glyphicon-form {
    background-color: deepskyblue;
    width: 75px;
    height: 60px
}

.glyphicon-button{
    border-radius: 35px;
    border-color: transparent;
    height: 30px;
}

.col{
    color: darkmagenta;
}
#text-place {
    user-select: none;
    height: 500px;
    width: 333px;
    color: white;
    font: 20px Constantia, serif;
}

input[type="text"] {
    width: 300px;
    font: 16px Constantia, serif;
}

input[type="password"] {
    width: 300px;
    font: 16px Constantia, serif;
    box-shadow: 9px;
}

input:focus, textarea:focus, select:focus {
    /* outline-width: 14px;*/
    outline-color: plum;
    box-shadow: 0 0 5px rgb(217, 153, 214);
}

select option:hover {
    background-color: plum;
}

.user-block {
    user-select: none;
    background-color: darkmagenta;
    border: solid white 1px;
    border-radius: 10px;
    color: white;
    font: 15px bold Constantia, serif;
    width: 430px;
    height: 50px;
    padding: 15px;
    margin-bottom: 7px;
}

.input-block {
    user-select: none;
    margin-top: 10px;
    margin-left: 30px;
    color: white;
    height: 200px;
    width: 200px;
    position: relative;
    font: 16px Constantia, serif;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: darkmagenta;
    -webkit-tap-highlight-color: plum;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: darkmagenta;
}

::selection {
    color: white;
    background: darkmagenta;
}

#switchers {
    user-select: none;
    height: 30px;
    width: 800px;
    position: fixed;
    top: 20px;
    left: 90px
}

.hell-long-p {
    user-select: none;
    margin-bottom: 131px;
}

.long-p {
    user-select: none;
    margin-bottom: 16px;
}

.panel {
    user-select: none;
    margin: auto;
    background-color: darkmagenta;
    height: 400px;
    width: 540px;
    margin-top: 60px;
}

button {
    user-select: none;
    color: darkmagenta;
}

.password-block {
    color: darkmagenta;
    font: 16px Constantia, serif;
    width: 300px;
    height: 150px;
}

#textIn {
    position: fixed;
    top: 605px;
    left: 450px;
    height: 20px;
    width: 460px;
}

.error-block {
    display: none;
    text-align: center;
    color: red;
    font: 16px Constantia, serif;
    position: fixed;
    top: 595px;
    left: 410px;
    height: 50px;
    width: 545px;
    /* border: solid red 2px;*/
    border-radius: 15px;
    box-shadow: 0 1px 10px red;
}

a:visited, a:hover, a:link, a:active {
    text-decoration: none;
    color: darkmagenta;
}

.label-link {
    font: bold 20px Constantia, serif;
}

.block {
    user-select: none;
    height: 100px;
    color: darkmagenta;
    font: 16px Constantia, serif;
}

.text-block {
    user-select: none;
    margin-top: 40px;
    margin-left: 200px;
    color: darkmagenta;
    height: 400px;
    width: 350px;
    position: relative;
    font: 16px Constantia, serif;
}

.input-submit-with-icon {
    user-select: none;
    color: darkmagenta;
    font: 16px Constantia, serif;
}

textarea {
    resize: none;
}